body{
    background-color: #F1F2F2;
}
.container{
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textoPrincipal{
    font-size: 120px;
    font-weight: 100;
    color: #CBBDC2;
}
.lista{
    width: 100%;
}
input{
    padding-left: 40px;
    width: 100%;
}
.entrada, .list-group-item{
    border: none;
    height: 50px;
}
#item{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}
#contador{
    font-size: small;
    color: #CBBDC2;
}